{{ define "main" }}
<article class="container p-centered mt-space">
    <header class="text-center">
        <h2>{{ .Title }}</h2>
        <h6 class="text-gray"><i>{{ .Description | markdownify }}</i></h6>
    </header>
    <section class="my-gap">
        {{ .Content }}

        <code>Tags</code>:
        {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
                {{ range . }}
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}"><span class="chip bg-secondary text-error">{{ . }}</span></a>
                {{ end }}
            {{ end }}
        {{ end }}
        <hr>
    </section>
    <footer class="col-12 d-inline-block">
        <span class="float-left">
        <a href="https://twitter.com/@iamdevloper" target="_blank">
        <figure class="avatar avatar-lg float-left">
            <img class="p-1 bg-gray" src="{{ "images/avatar.png" | absURL }}">
        </figure>
        <div class="mx-gap">
            <span class="text-dark">{{ .Site.Params.name }}</span><br>
            <span class="text-gray">{{ .Site.Params.aboutAuthor }}</span>
        </div>
        </a>
        </span>
        <span class="float-right">
            <button class="btn btn-link"><a href='{{ .Site.BaseURL }}'>← Back</a></button>
        </span>
    </footer>
</article>

{{ end }}
