<nav class="navbar m-2">
	<section class="navbar-section">
	</section>
	<section class="navbar-section">
	{{ if not .IsHome }}
		<a class="btn btn-link btn-sm mx-1" href='{{ .Site.BaseURL }}'>← {{ .Site.Params.home | default "Home" }}</a>
	{{ end }}

	{{ range .Site.Menus.main }}
		<a class="btn btn-link btn-sm mx-1" href='{{ .URL }}'>{{ .Name }}</a>
  	{{ end }}

	<label class="form-switch mx-1">
		<input type="checkbox" id="pixelfont-toggle">
		<i class="form-icon"></i> <small>Fun</small>
	</label>

	{{ if .Site.Params.enableRSS }}
		<a class="btn btn-primary btn-sm mx-1 text-light" href="{{ .Site.RSSLink }}" target="_blank">{{ .Site.Params.subscribe | default "Subscribe" }}</a>
	{{ end }}
	</section>
</nav>
