{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="my-2 col-12 d-inline-block">
    {{ if .Paginator.HasPrev }}
        <span class="float-left">
            <button class="btn btn-link btn-sm">
            <a href="{{.Paginator.Prev.URL}}">
                ← {{ .Site.Params.newerPosts | default "Newer Posts" }}
            </a>
            </button>
        </span>
    {{ end }}
    {{ if .Paginator.HasNext }}
        <span class="float-right">
            <button class="btn btn-link btn-sm">
            <a href="{{.Paginator.Next.URL}}">
                {{ .Site.Params.olderPosts | default "Older Posts" }} →
            </a>
            </button>
        </span>
    {{ end }}
</nav>
{{ end }}