<div class="timeline my-gap">
{{ range where .Paginator.Pages "Section" "ne" "" }}
    <div class="timeline-item">
        <div class="timeline-left tooltip" data-tooltip="{{ .Date.Format "2006 January" }}">
            <i class="timeline-icon"></i>
        </div>
        <a class="timeline-content speech-bubble" href='{{ .URL }}'>  
        <div class="tile">
            <div class="tile-content">
                <div class="tile-title h5">{{ .LinkTitle }}</div>
                <div class="tile-subtitle text-dark">{{ .Description | markdownify }}</div>
            </div>
        </div>
        </a>
    </div>
{{ end }}
</div>